*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

.book-container{
    display:grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 260px 1fr;
    grid-template-areas: 
        "header header"
        "navigation content";
    height: 100vh;
}

.book-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Montserrat ,sans-serif;
    border-bottom: 1px solid white;
  }

  .bookhead-profile{
    display: flex;
    gap:5px;
    align-items: center;
  }

.book-navigation{
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: Montserrat ,sans-serif;
}

.book-navigation ul {
    list-style-type: none;
    padding: 0;
    margin:0;
  }
  
.book-navigation li {
    display: flex;
    align-items: center;
    padding: 13px ;
    cursor: pointer;
}
  
.book-navigation li:hover {
    background-color: #ff5353;
    border-radius: 15px;
}

.book-content{
    grid-area: content;
    justify-self: center;
}

.book-content h1{
    text-align: center;
    font-family: Montserrat ,sans-serif;
    margin: 10px 0;
    color: #333;
}

.bookin-section{
    margin-top: 20px;
    text-align: center;
    font-family: Montserrat ,sans-serif;
}

.bookin-section form{
    margin-top: 20px;
} 

/* .MuiFormControl-root {
    max-width: 500px; }
  
.MuiSelect-root {
   
    min-width: 300px;
}
  
.MuiInputBase-root {
   
    overflow: auto;
} */
